@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html, body {
	font-family: Arial, Helvetica, sans-serif;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	min-height: 100dvh;
	width: 100%;
	height: 100%;
	background: linear-gradient(157deg, #648ff6, #ffb37f, #fff890);
	animation: hue-rotate 5s linear infinite;
  overflow: hidden;
}

@keyframes hue-rotate {
	to{
		filter: hue-rotate(360deg);
	}
}

.container {
	color: hsl(0, 100%, 76%);
	width: auto;
	height: auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border-radius: 10px;
	padding: min(8em, 8%);
	padding-inline: auto;
	transform: scale(2) rotate(-50deg);
	font-size: 100px;
	animation: shake 0.1s infinite;
	transition: all 0.5s ease;
	position: relative;
  cursor: pointer;
}

.container::before {
	content: "";
	width: 100%;
	height: 100%;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background: radial-gradient(circle at center, white, transparent 40%);
	opacity: 0.2;
}

.container-parent {
	width: auto;
	height: auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	animation: rotate 6s linear infinite;
}

body:has(.container-parent:active) .container {
	font-size: 80px;
}

@keyframes rotate {
	to{
		transform: rotate(360deg);
	}
}

@keyframes shake {
	0% {
		transform: scale(2) rotate(-30deg);
	}

	50% {
		transform: scale(2) rotate(-30deg) translateX(-3px);
	}

	100% {
		transform: scale(2) rotate(-30deg) translateX(0);
	}
}

@keyframes destroy {
	to{
		transform: scale(2) translateY(-120dvh) translateX(-1000px) translate(-50%, -65%);
	}
}

@keyframes destroy2 {
	to{
		transform: scale(2) translateX(-5px) translateY(5px) rotate(-30deg); opacity: 0;
	}
}

h4 {
	position: absolute;
	top: 85%;
	font-weight: 650;
	font-size: 20px;
	text-decoration: none;
	color: black;
	letter-spacing: 6px;
	font-family: "Montserrat", Arial, Helvetica, sans-serif;
}

h4::before {
	content: "";
	width: 130%;
	height: 1.5px;
	position: absolute;
	top: 130%;
	left: 50%;
	transform: translateX(-50%);
	background: black;
}